h1.a {
  text-align: center;
  margin-bottom: 125px;
}
.container {
  height: 500px;
  width: 600px;
  position: relative;
  border: 3px solid rgb(252, 176, 240);
  background-color: rgb(255, 222, 228);
  text-align: center;
  justify-content: center;
  margin: auto;
}

button.a {
  background-color: snow;
  border: none;
  color: black;
  padding: 10px 8px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
